@charset "utf-8";

/*@font-face {
    font-family: "FdSans";
    src: url(../resources/FDSans.otf) format("opentype");
}

html {
    font-family: "FdSans";
    line-height: 1.5em;
}*/

button,
input,
a.button{
    display: inline-block;
    background: var(--control-bg);
    color: var(--control-text);
    border-color: var(--control-line);
    font-family: inherit;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: auto 2px auto;
    text-decoration: none;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
a.button:hover{
    background: var(--button-hover-bg);
    color: var(--button-hover-text);
    color: var(--button-hover-line);
    transform: scale(1.1);
    color: inherit;
}

select {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    height: 1.5em;
}

option {
    background-color: white;
    color: black;
    font: inherit;
}

ul:not(.has-markers) {
    list-style-type: none;
    padding-inline-start: 0;
}
ul:not(.has-markers) > li{
    display: block;
}

table, th, td{
    border-collapse: collapse;
    padding: 0.25em;
}
th, td, tbody, thead, tr{
    border: inherit;
}
table:not(.no-border){
    border: 1px solid;
}

table.no-border, table.no-border th, table.no-border td{
    border: none;
}
*.hidden {
    display: none;
}

button, a.button{
    cursor: pointer;
}