@charset "utf-8";

/*@font-face {
    font-family: "FDSans";
    src: url(../resources/FDSans.otf) format("opentype");
}

html {
    font-family: "FDSans";
    line-height: 1.5em;
}*/

button,
input {
    background: var(--control-bg);
    color: var(--control-text);
    border-color: var(--control-line);
    font-family: inherit;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover{
    background: var(--button-hover-bg);
    color: var(--button-hover-text);
    color: var(--button-hover-line);
    transform: scale(1.1);
    color: inherit;
}

select {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    height: 1.5em;
}

option {
    background-color: white;
    color: black;
    font: inherit;
}

ul:not(.has-markers) {
    list-style-type: none;
    padding-inline-start: 0;
}
ul:not(.has-markers) > li{
    display: block;
}

table:not(.no-border), table:not(.no-border) th, table:not(.no-border) td{
    border: 1px solid;
    border-collapse: collapse;
}
table:not(.no-border) th, table:not(.no-border) td{
    padding: 0.25em;
}