@charset "utf-8";
#header {
    background-position: center top;
}

html[data-theme=light] #header {
    background-image: url(Background84%20-%20repeatable.png);
    border-bottom-color: #000000;
}

html[data-theme=dark] #header {
    background-color: #121217;
    background-image: url(Background68.png);
    background-position: center -50px;
    border-bottom-color: #804000;
    color: #00c0c0;

}

html[data-theme=light] a:not(.button, .formSmallButton) {
    color: #8000ff;
}

html[data-theme=dark] a:not(.button, .formSmallButton) {
    color: #ffff00;
}

/*formnav*/
html[data-theme=light] #formNav {
    background-color: #c0ffff;
    border-bottom-color: #000000;
}

html[data-theme=dark] #formNav {
    background-color: #100010;
    border-bottom-color: #c0c0c0;
}

html[data-theme=light] #formNav li {
    border: 1px solid #000000;
}

html[data-theme=dark] #formNav li {
    border: 1px solid #c0c0c0;
}

html[data-theme=light] #formNav li.selectedTab {
    background: linear-gradient(#ffffff, #A9F1F7);
    border-bottom: none;
}

html[data-theme=dark] #formNav li.selectedTab {
    background: linear-gradient(#211442, #050408);
    border-bottom: none;
}

html[data-theme=light] #formNav li:not(.selectedTab) {
    background-color: #a0a0a0;
    color: #ffffff;
}

html[data-theme=dark] #formNav li:not(.selectedTab) {
    background-color: #202020;
    color: #a0a0a0;
}

/*formbody*/
html[data-theme=light] #formBody {
    background-image: url(Background8.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

html[data-theme=light] #formContainer {
    border-right-color: #000000;
}

html[data-theme=dark] #formBody {
    background-image: url(Background48.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #0d1a1e;
}

html[data-theme=dark] #formContainer {
    border-right-color: #804000;
    color: #c080ff;
}

html[data-theme=light] #output {
    background-image: url(Background100.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #FFEDAA;
}

html[data-theme=dark] #output {
    background-image: url(Background29.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000E0D;
}

html[data-theme=dark] #output > * {
    color: #00ffff;
}

html[data-theme=dark] select {
    background: none;
    color: inherit;
}

html[data-theme=dark] option,
html[data-theme=dark] optgroup {
    background-color: #000000;
}

html[data-theme=dark] input[type=checkbox] {
    background-color: #000000;
}
html[data-theme=dark] input[type=text] {
    background-color: #303030;
    color: #c0c0c0;
}


html[data-theme=light] .listTable,
html[data-theme=light] .listTable th,
html[data-theme=light] .listTable td {
    border-color: #000000;
}

html[data-theme=dark] .listTable,
html[data-theme=dark] .listTable th,
html[data-theme=dark] .listTable td {
    border-color: #c0c0c0;
}

/*ボタン*/
html[data-theme=light] .button,
html[data-theme=light] .formSmallButton {
    border-color: #d0d0d0;
    background: linear-gradient(#b0b0b0, #a0a0a0);
    box-shadow: 3px 3px #00000040;
}
html[data-theme=light] .button:hover,
html[data-theme=light] .formSmallButton:hover {
    background: linear-gradient(#d0d0d0, #909090);
}
html[data-theme=light] .button:active,
html[data-theme=light] .formSmallButton:active {
    background: linear-gradient(#909090, #d0d0d0);
}
html[data-theme=dark] .button,
html[data-theme=dark] .formSmallButton {
    border-color: #d0d0d0;
    background: none;
}
html[data-theme=dark] .button:hover,
html[data-theme=dark] .formSmallButton:hover {
    background: linear-gradient(#808080, #404040);
}
html[data-theme=dark] .button:active,
html[data-theme=dark] .formSmallButton:active {
    background: linear-gradient(#404040, #808080);
}

/*ツールバー*/
html[data-theme=light] #toolbar{
    background-color: #ffc080;
}
html[data-theme=light] #toolbar li{
    background-color: #fff8f0;
}
html[data-theme=light] #toolbar li:hover{
    background-color: #ffffff;
}
html[data-theme=dark] #toolbar{
    background-color: #303030;
}
html[data-theme=dark] #toolbar li{
    background-color: #606060;
}
html[data-theme=dark] #toolbar li:hover{
    background-color: #808080;
}

/*アコーディオン*/
html[data-theme=light] .accordionOuter{
    border: 2px solid #63959c;
}
html[data-theme=light] .accordionHeader:hover{
    background: #ebfdff80;
}
html[data-theme=dark] .accordionOuter{
    border: 2px solid #c0c0ff;
}
html[data-theme=dark] .accordionHeader:hover{
    background: #40008080;
}
/*ウィンドウ*/
html[data-theme=light] window{
    background-color: white;
    color: black;
}
html[data-theme=light] window-content{
    border-color: #000000;
}
html[data-theme=dark] window{
    background-color: #303030;
    color: #c0c0c0;
}
html[data-theme=dark] window-content{
    border-color: #c0c0c0;
}
