@charset "utf-8";
input[type=color] {
    background-color: inherit;
    border: none;
    cursor: inherit;
}

input[type=number] {
    background-color: white;
}

.disabledLabel {
    cursor: not-allowed;
    color: gray;
}

.notCustom,
.hidden {
    display: none;
}

.middleText * {
    vertical-align: middle;
}
.blockLink {
    display: block;
}

/*ボタン*/
.button, .formSmallButton {
    display: inline-block;
    border: 1px solid #000000;
    padding: 3px;
    width: max-content;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.formSmallButton{
    display: inline-block;
    width: 15px;
}
.button::selection,
.formSmallButton::selection{
    background-color: inherit;
    color: inherit;
}

canvas {
    width: 100%;
    display: block;
}
.outputOverlay{
    position: relative;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    color: #ffffff;
    text-align: center;
    align-content: center;
    transition: opacity 0.25s linear;
    font-size: 20px;
    opacity: 0;
}
.outputOverlay:hover{
    opacity: 1;
}

html[data-theme=light] #output canvas,
html[data-theme=light] #formContainer canvas,
html[data-theme=light] .imgImport {
    background-image: url(transparent.png);
}
html[data-theme=dark] #output canvas,
html[data-theme=dark] #formContainer canvas,
html[data-theme=dark] .imgImport {
    background-image: url(transparentbg-dark.png);
}

td {
    text-align: center;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 3px;
}

fieldset{
    border-radius: 7px;
}
select, input[type=number] {
    border-radius: 3px;
}

.selectForm > *:not(.selectedForm):not(legend) {
    display: none;
}

label > span:first-child::after {
    content: ":";
}

input[type=file] {
    display: none;
}

.listTable > tbody th, .listTable > tbody td{
    text-align: left;
    vertical-align: top;
}
.listTable, .listTable th, .listTable td {
    border: 1px solid;
}

table.colorSettingTable th{
    font-weight: normal;
}
table.colorSettingTable > tbody th{
    text-align: left;
}

/*アコーディオン*/

.accordionOuter{
    border-radius: 5px;
    box-shadow: 3px 3px #00000040;
    margin: 10px 0px 10px;
    overflow: hidden;
}

.accordionHeader{
    display: flex;
    padding: 5px;
    cursor: pointer;
    justify-content: space-between;
}
.accordionHeader > h2{
    margin: 0;
}

.accordionInner{
    transition: max-height 0.25s linear;
    max-height: 100vh;
    overflow: hidden;
}
.accordionOuter > *.accordionHeader::after{
    display: inline-block;
    height: 16px;
    margin: 0 8px 0;
    content: url("accordionIcon.svg");
    transition: transform 0.5s ease-in-out;
    transform: rotate(90deg);
    align-self: center;
}
.accordionOuter[data-accordion-collapsed] > *.accordionHeader::after{
    transform: rotate(0deg);
}
.accordionOuter[data-accordion-collapsed] > *.accordionInner{
    max-height: 0px;
}

.accordionContent{
    padding: 10px;
}

/*ツールバー*/
#toolbar{
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    border-radius: 5px;
    box-shadow: 3px 3px #00000040;
    padding: 10px;
}
#toolbar ul{
    display: block;
}
#toolbar li{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-position: center;
    background-size: 64px;
    background-repeat: no-repeat;
    box-shadow: 6px 6px #00000040;
    cursor: pointer;
}
#toolbar li:hover{
    transition: transform .05s linear;
    transform: scale(1.1);
}

/*ウインドウ*/
dialogue-group{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
#dialogues-background{
    display: block;
    position: absolute;
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    pointer-events: none;
    
    background-color: #000000c0;
    
    opacity: 0;
    transition: opacity .3s linear;
}
dialogue-group[opened] #dialogues-background{
    opacity: 1;
    pointer-events: auto;
}
window-positioner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 100%;
    transition: bottom .5s ease-in;
}
dialogue-group[opened] window-positioner[opened]{
    bottom: 0%;
    transition-timing-function: ease-out;
}
window{
    border-radius: 10px;
    box-shadow: 5px 5px #00000040;
    padding: 10px;
    pointer-events: auto;
    
    display: block;
    position: absolute;
    margin: auto;
    
    width: 500px;
    max-width: 100%;
    max-height: calc(100% - 30px);
    overflow: hidden;
}
window > window-content{
    overflow: auto;
    display: block;
    border: 1px solid;
    padding: 5px;
}

/*個別ウィンドウ*/
#extractedColorTableContainer{
    max-height: 300px;
    overflow: auto;
}
