@charset "utf-8";
/*update no. 2*/
#output{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    aspect-ratio: 2 / 3;
}
#generalTextureOutput{
    grid-row-start: 1;
    grid-column-start: 1;
}
#enemyTextureOutput{
    grid-row-start: 1;
    grid-column-start: 2;
}
#fragileTextureOutput{
    grid-row-start: 2;
    grid-column-start: 1;
}
#fragileActiveTextureOutput{
    grid-row-start: 2;
    grid-column-start: 2;
}
#moverTextureOutput{
    grid-row-start: 3;
    grid-column-start: 1;
}
#moverAutoTextureOutput{
    grid-row-start: 3;
    grid-column-start: 2;
}
