@charset "utf-8";
/*update no. 2*/

#formContainer{
    overflow: hidden;
    height: 100%;
    border-right-width: 5px;
    border-right-style: ridge;
}
#formBody{
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 30px);
}
#output{
    float: right;
    overflow: hidden;
    height: 100%;
}
