@charset "utf-8";
html {
    font-size: 12px;
}
select{
    font-size: inherit;
}
#header, #header-bg{
    position: absolute;
    height: 110px;
    top: 0;
    width: 100%;
}
#header{
    border-bottom-width: 5px;
    border-bottom-style: ridge;
}
#creatorName{
    position: absolute;
    top: 50px;
}
#updateInfo{
    width: 450px;
    padding: 10px;
}
#updateInfo h1,#updateInfo h2{
    margin:0;
}
#recentVersionList{
    overflow-y: scroll;
    border-width: 1px;
    border-style: solid;
    height: 300px;
}
#recentVersionList li{
    margin: 5px;
}
#formNav{
    margin:0;
    padding:0;
    height:30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#formNav ul{
    height:100%;
}
#formNav li{
    position:static;
    margin-top:0;
    display:inline-block;
    width: 100px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    cursor: pointer;
}
#formNav li.selectedTab{
    height: calc(100% - 0px);
}
#formNav li:not(.selectedTab){
    height: calc(100% - 1px);
}
#formNav li span{
    display: inline;
    vertical-align: middle;
}
html{
    width: 100%;
    height: 100%;
}

/*メインのflexbox*/
/*Formの望ましい最低限の横幅は500px
それを表示幅が下回っ鱈*/
#main{
    position: absolute;
    top: 115px;
    height: calc(100% - 115px);
    width: 100%;
    display: flex;
}
@media screen and (max-width: 800px){
    #main{
        flex-direction: column;
    }
}
#formContainer{
    overflow: hidden;
    border-right-width: 5px;
    border-right-style: ridge;
}
#output{
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

#formBody{
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 30px);
}

#header form{
    margin-bottom: 10px;
}
/*ここよりグリッドの設定*/
#output{
    display: grid;
}
#output > * > canvas{
    transform: scale(1);
    transform-origin: left top;
}
#output>*{
    border: 1px solid #000000;
    overflow: hidden;
}

/*555*758px for phones */
