/* フォントをSenに設定 */
html {
    font-family: "Sen";
}

input {
    font-family: inherit !important;
}

select {
    font-family: inherit;
}

option {
}
/* フォーマットのための無駄なマージンパディングを削除 */
html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

div{
    margin:0;
}

#header-content{
    margin: 10px;
}

#form-content{
    margin: 10px;
}
